rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Users can only upload and access their own profile pictures
    match /users/{userId}/profile/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    
    // Users can only upload and access their own habit images
    match /users/{userId}/habits/{allPaths=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
